<div class="row pointer-style border-category" ng-show="showCategory">
  <div class="col-md-4 align-services" ng-click="selectedCategory('Städning')">
    <p class="pad-top white-text">
      <i class="fa fa-xing-square fa-3x icon-background"></i>
    </p>
    <p>
      <b>Städning</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Flytt & Transport')">
    <p class="pad-top white-text">
      <i class="fa fa-truck fa-3x icon-background"></i>
    </p>
    <p>
      <b>Flytt & Transport</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Bygg & Renovering')">
    <p class="pad-top white-text">
      <i class="fa fa-wrench fa-3x icon-background"></i>
    </p>
    <p>
      <b>Bygg & Renovering</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Tomt & Markarbeten')">
    <p class="pad-top white-text">
      <i class="fa fa-map-o fa-3x icon-background"></i>
    </p>
    <p>
      <b>Tomt & Markarbeten</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Fastighets & BRF-Tjänster')">
    <p class="pad-top white-text">
      <i class="fa fa-building-o fa-3x icon-background"></i>
    </p>
    <p>
      <b>Fastighets & BRF-Tjänster</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Arkitekt & Inredning')">
    <p class="pad-top white-text">
      <i class="fa fa-institution fa-3x icon-background"></i>
    </p>
    <p>
      <b>Arkitekt & Inredning</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Ekonomi & Juridik')">
    <p class="pad-top white-text">
      <i class="fa fa-balance-scale fa-3x icon-background"></i>
    </p>
    <p>
      <b>Ekonomi & Juridik</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Webb/IT & Design')">
    <p class="pad-top white-text">
      <i class="fa fa-laptop fa-3x icon-background"></i>
    </p>
    <p>
      <b>Webb/IT & Design</b>
    </p>
  </div>
  <div class="col-md-4 align-services" ng-click="selectedCategory('Övriga tjänster')">
    <p class="pad-top white-text">
      <i class="fa fa-search fa-3x icon-background"></i>
    </p>
    <p>
      <b>Övriga tjänster</b>
    </p>
  </div>
</div>

<div class="row pointer-style sub-text border-category" ng-hide="showCategory">
  <div class="row sub-text" ng-click="goBack()">
    <label class="row pointer-style"><< Tillbaka</label>
    <hr>
  </div>
  <div class="row">
  <select class="dropdown-box" ng-class="hovering" ng-mouseleave="endHover()" ng-mouseenter="startHover()" ng-model="selectedSubcategory" ng-options="cat for cat in showSubCategories">
    <option></option>
  </select>
  <button class="next-button" ng-click="subCatSelected()">Kom Igång</button>
  </div>

</div>
