.align-services {
  text-align: center;
}
.pad-top {
  padding-top: 20px;
}
.icon-background {
  background-color: #354755;
  padding: 15px;
  border-radius: 1000px;
}
.sub-text {
  padding: 15px;
}
.pointer-style {
  cursor: pointer;
}
.border-category {
  border: 5px solid #354755;
}
.dropdown-box {
  margin-left: 25%;
  height: 30px;
  border: 3px solid #354755;
}
.hovered {
  border-left: 10px solid #354755;
}
.next-button {
  color: white;
  background: #354755;
  border: none;
}
