.align-services {
  text-align: center;
}
.pad-top {
  padding-top: 20px;
}
.icon-background {
  background-color: #354755;
  padding: 15px;
  border-radius: 1000px;
}
.sub-text {
  padding: 15px;
}
.pointer-style {
  cursor: pointer;
}
