.thing-form {
  margin: 20px 0;
}
#banner {
  border-bottom: none;
  margin-top: -20px;
}
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}
.navbar-text {
  margin-left: 15px;
}
.column-padding {
  padding: 20px;
  padding-bottom: 10px;
}
.column-text-padding {
  padding-left: 20px;
  margin-bottom: 0px;
}
.column-italics-padding {
  padding-left: 20px;
  margin-bottom: 10px;
}
.scroll-icons {
  top: 15px;
}
.comments {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 100px;
  border-radius: 10px;
}
.float-left {
  float: left;
}
.comment-section {
  padding: 40px;
  padding-top: 10px;
}
.scroll-side {
  margin-top: 40px;
}
.top-nav {
  text-align: center;
  border: 2px solid #354755;
  border-bottom: 3px solid #85C0D2;
}
.top-nav-title {
  margin: 10px 0px 0px 0px;
}
.remove-decoration {
  text-decoration: none !important;
}
.selected-nav {
  text-align: center;
  border: 2px solid #85C0D2;
  border-bottom: 3px solid #85C0D2;
  background-color: white;
}
.job-posts {
  max-height: 250px;
  overflow: auto;
}
.fix-description {
  overflow: hidden;
  text-overflow: ellipsis;
}
